
#btm_date1{
    -fx-background-color: #3E81F6;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #3E81F6;
}

#btm_date2{
    -fx-background-color: #DD493D;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #DD493D;
}

#btm_date3{
    -fx-background-color: #FDC437;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #FDC437;
}

#btm_date4{
    -fx-background-color: #13BA6A;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #13BA6A;
}

#btm_date5{
    -fx-background-color: #6200EE;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #6200EE;
}

#btm_date6{
    -fx-background-color: #7F39FB;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #7F39FB;
}

#btm_date7{
    -fx-background-color: #F26A40;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #F26A40;
}

#btm_date8{
    -fx-background-color: #18CBCF;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #18CBCF;
}

#btm_date9{
    -fx-background-color: #A1CC00;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #A1CC00;
}

#btm_date10{
    -fx-background-color: #ED455E;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #ED455E;
}

#btm_date11{
    -fx-background-color: #3E81F6;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #3E81F6;
}

#btm_date12{
    -fx-background-color: #DD493D;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #DD493D;
}

#btm_date13{
    -fx-background-color: #FDC437;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #FDC437;
}

#btm_date14{
    -fx-background-color: #13BA6A;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #13BA6A;
}

#btm_date15{
    -fx-background-color: #6200EE;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #6200EE;
}

#btm_date16{
    -fx-background-color: #7F39FB;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #7F39FB;
}

#btm_date17{
    -fx-background-color: #F26A40;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #F26A40;
}

#btm_date18{
    -fx-background-color: #18CBCF;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #18CBCF;
}

#btm_date19{
    -fx-background-color: #A1CC00;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #A1CC00;
}
#btm_date20{
    -fx-background-color: #ED455E;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #ED455E;
}

#btm_date21{
    -fx-background-color: #3E81F6;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #3E81F6;
}

#btm_date22{
    -fx-background-color: #DD493D;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #DD493D;
}

#btm_date23{
    -fx-background-color: #FDC437;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #FDC437;
}

#btm_date24{
    -fx-background-color: #13BA6A;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #13BA6A;
}

#btm_date25{
    -fx-background-color: #6200EE;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #6200EE;
}

#btm_date26{
    -fx-background-color: #7F39FB;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #7F39FB;
}

#btm_date27{
    -fx-background-color: #F26A40;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #F26A40;
}

#btm_date28{
    -fx-background-color: #18CBCF;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #18CBCF;
}

#btm_date29{
    -fx-background-color: #A1CC00;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #A1CC00;
}

#btm_date30{
    -fx-background-color: #ED455E;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #ED455E;
}

#btm_date31{
    -fx-background-color: #748Cf1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #748Cf1;
}