#confirm_btm_deleteEvent{
    -fx-background-color: #7F39FB;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-color: #7F39FB;
}

#enter_date_txt_field {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-padding: 10px;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

#check_button{
    -fx-background-color: #9a9a9a;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #9a9a9a;
}

#enter_event_name_txt_field{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-padding: 10px;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

#events_on_enter_day_textArea{
    -fx-background-color: #FFFFFF; /* Set the background color */
    -fx-background-radius: 30px; /* Set the background radius */
    -fx-border-radius: 30px; /* Set the border radius */
    -fx-padding: 10px;
    -fx-font-family: "Century Gothic"; /* Set the font family */
    -fx-font-size: 14px; /* Adjust the font size as needed */
    -fx-alignment: top-left;
}